---
import { getImagesByTag, optimizeImageUrl } from "../../utils/cloudinary";
import Layout from "@layouts/Layout.astro";
import GalleryBase from "@components/GalleryBase.tsx";

// Obtener imágenes desde el servidor (con un tag vacío para obtener todas las imágenes)
const cloudinaryImages = await getImagesByTag("");

// Optimizar las imágenes
const optimizedImages = cloudinaryImages.map((image) =>
  optimizeImageUrl(image),
);
---

<Layout title="Aitor Blesa | Frontend Developer">
  <main class="flex flex-col mx-auto p-8 pt-20 min-h-screen w-full">
    <GalleryBase images={optimizedImages} client:load />
  </main>
</Layout>
