---
import Layout from "@layouts/Layout.astro";
import GalleryBase from "@components/GalleryBase.tsx";
import Button from "@components/elements/Button.astro";
---

<Layout title="Aitor Blesa | Frontend Developer">
  <main
    class="flex flex-col mx-auto p-8 pt-20 min-h-screen w-full scroll-smooth"
  >
    <GalleryBase client:load />
    <Button />
  </main>
</Layout>
