---
import Layout from "@layouts/Layout.astro";
import GalleryBase from "@components/GalleryBase.tsx";
---

<Layout title="Aitor Blesa | Frontend Developer">
  <main class="flex flex-col mx-auto p-8 pt-20 min-h-screen">
    <GalleryBase client:load />
  </main>
</Layout>
