---
import About from "@components/About.tsx";
import Experience from "@components/Experience.astro";
import Hero from "@components/Hero.astro";
import Skills from "@components/Skills.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Aitor Blesa | Frontend Developer">
	<main
		class="flex flex-col justify-center mx-auto px-6 scroll-smooth relative
	md:px-12 lg:max-w-[1440px]
	xl:pl-60"
	>
		<Hero />
		<Experience />
		<Skills />
		<About client:load />
	</main>
</Layout>
