---
import ExperienceItem from "@components/elements/ExperienceItem.astro";
import EXPERIENCE from "@data/experience.json";
---

<section
  id="experience"
  class="grid grid-cols-1 pt-12 md:pt-24 lg:grid-cols-12"
>
  <h1
    class="text-accent uppercase font-semibold text-xl mb-8 col-span-2 lg:col-span-3 lg:mr-24 lg:w-52 lg:text-right"
  >
    Experiencia
  </h1>
  <div
    class="text-pretty sm:col-span-12 md:col-span-10 lg:col-span-9 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8"
  >
    {
      EXPERIENCE.map(({ date, title, description, enlaces }) => (
        <ExperienceItem
          date={date}
          title={title}
          description={description}
          enlaces={enlaces}
        />
      ))
    }
  </div>
</section>
