<header
    class="justify-center items-center py-6 w-full mx-auto nav hidden
    xl:flex xl:fixed"
>
    <nav class="flex gap-x-10 bg-white/20 px-4 py-2">
        <a class="hover:bg-slate-100 rounded-full px-3 transition" href="#home"
            >Inicio</a
        >
        <a
            class="hover:bg-slate-100 rounded-full px-3 transition"
            href="#experience">Experiencia</a
        >
        <a class="hover:bg-slate-100 rounded-full px-3 transition" href="#about"
            >Sobre mi</a
        >
    </nav>
</header>
<style>
    nav {
        animation: border 1s linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
    }
    @keyframes border {
        to {
            @apply rounded-full backdrop-blur-xl border-[1px] border-slate-400/20;
        }
    }
</style>
