---
import NavItem from "@components/NavItem.astro";
---

<header
    class="justify-center items-center py-6 w-full mx-auto nav hidden
    xl:flex xl:fixed"
>
    <nav class="flex gap-x-10 bg-white/20 px-4 py-2 uppercase">
        <!-- <TextHighlight
        content="Bertrandt"
        url="https://www.bertrandt.com/en/hmi-ux-development"
        target="_blank"
      /> -->
        <NavItem href="#home">Inicio</NavItem>
        <NavItem href="#experience">Experiencia</NavItem>
        <NavItem href="#about">Sobre mi</NavItem>
    </nav>
</header>
<style>
    nav {
        animation: border 1s linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
    }
    @keyframes border {
        to {
            @apply rounded-full backdrop-blur-xl border-[1px] border-slate-400/20;
        }
    }
</style>
