---
const { title, skills, index } = Astro.props;
---

<div class={`col-span-3 ${index % 3 === 0 ? "lg:col-start-4" : ""}`}>
    <span
        class="relative inline-block pl-8 mb-1 font-semibold
    before:[''] before:inline-block before:absolute before:left-0 before:top-[6px] before:w-2 before:h-2 before:rounded-full before:bg-accent
    after:[''] after:inline-block after:absolute after:left-[12px] after:top-[6px] after:w-2 after:h-2 after:rounded-full after:bg-accent/80"
    >
        {title}
    </span>

    <p>{skills}</p>
</div>
