<a
  href="#"
  class="button sticky bottom-5 place-self-end right-5 size-10 bg-accent rounded-full z-10 flex items-center justify-center text-xl font-bold text-white hover:bg-accent hover:-translate-y-3 transition-all duration-200"
>
  &#8593;
</a>
