---
const { url, target } = Astro.props;
const linkProps = {
  href: url,
  ...(target ? { target } : {}),
};
---

<a {...linkProps}>
  <span
    class="font-semibold
    relative inline-block cursor-pointer
    after:[''] after:bottom-0 after:opacity-0 after:absolute after:left-0 after:w-full after:border-b-2 after:text-accent after:border-accent
    after:transition-opacity after:ease-in-out after:duration-300 hover:text-accent duration-300 hover:after:opacity-100"
    ><slot /></span
  >
</a>
